
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');/* 
font-family: 'Inter', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-top: 32px;
}

header div {
    width: calc(120px + 32px);
    border-radius: 50%;
    padding: 4px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
    margin: auto;
    transition: transform .3s;
    animation: fromTop 1s .3s backwards;
}

header div:hover {
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%;
    display: flex;
}

section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

body { 
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
    animation: fromBottom 2s backwards; 
}

main section:nth-child(1) {
    animation-delay: 0s;
}

main section:nth-child(2) {
    animation-delay: .2s;
}

main section:nth-child(3) {
    animation-delay: .3s;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

section div {
    background-color: #2A2634;
    padding: 24px 32px 32px 32px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
    font-weight: bold;
}

section p {
    letter-spacing: -0.18pm;
    color: #A1A1AA;
}

.games-list img {
    border-radius: 8px;
    width: 90px;
}

.channel-list img {
    border-radius: 50%;
    border: 1px solid #443e54;
    width: 70px;
}

/* animation */

@keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}